<div class="col-md-2 col-lg-2 text-right">
    <a asp-action="Create" class="btn btn-success fa fa-plus-circle crear">
        &nbsp;Crear nuevo
    </a>
</div>
<div class="col-md-2 col-lg-2 text-right">
    <a asp-action="exportarExcel" class="btn btn-success fa fa-plus-circle crear">
        &nbsp;Exportar Excel
    </a>
</div>
<div class="col-md-2 col-lg-2 text-right">
    <a asp-action="exportarPDF" class="btn btn-success fa fa-plus-circle crear" target="_blank">
        &nbsp;Exportar PDF
    </a>
</div>
<div class="col-md-2 col-lg-2 text-right">
    <a asp-controller="Home" asp-action="Index" class="btn btn-info fa fa fa-arrow-circle-left inicio">
        Regresar al menú
    </a>
</div>
