<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scalable=1.0, maximum-scalable=1.0, minimum-scale=1.0">
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          crossorigin="anonymous" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/owl.carousel.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css" asp-append-version="true">
    <link href="~/css/Paginador.css" rel="stylesheet" asp-append-version="true"/>

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/tooplate-style.css" asp-append-version="true">
    <link href="~/css/especializado.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    @RenderBody()

    <script src="~/js/jquery.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.sticky.js" asp-append-version="true"></script>
    <script src="~/js/jquery.stellar.min.js" asp-append-version="true"></script>
    <script src="~/js/wow.min.js" asp-append-version="true"></script>
    <script src="~/js/smoothscroll.js" asp-append-version="true"></script>
    <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    <script src="~/js/datatables.min.js" asp-append-version="true"></script>
    <script src="~/js/Utilitarios.js" asp-append-version="true"></script>
    <script src="~/js/sweetalert2.js" asp-append-version="true"></script>
    <script src="~/js/Paginador.js" asp-append-version="true"></script>
    <script src="~/js/especializado.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

