.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle !important;
}

#agregar {
    border-color: transparent;
    background-color: #65c7f2;
}

    #agregar:hover {
        border-color: transparent;
        background-color: #65c7f2;
    }

#regresar {
    border-color:transparent;
}

    #regresar:hover {
        border-color:transparent;
        background-color: #65c7f2;
    }


#tituloEspecialidad {
    text-align: center;
}







/*INDEX*/
 
 .divisor{
    color: black;
 }
.textoInformativo{
    color:red;
}

/*BOTONES*/
.crear {
    border: none;
    width: 100%;
    height: 100%;
    padding: 6px;
    background-color: #85180d;
}

    .crear:hover {
        border: none;
        background-color: #b51818;
    }

.inicio {
    width: 100%;
    height: 100%;
    padding: 6px;
    background-color: black;
    border-color: transparent;

}

    .inicio:hover {
        color: black;
        background-color: white;
        border-color: transparent;
    }
.contenedorBotones {
    display: flex;
}

.contenedorCrear {
    margin-top: 25px;
    display: flex;
}
.contenedorLista {
    display:flex;
    background: url('../images/green.jpg') no-repeat top center;
    align-items:center;
}
/*BOTONES DE LA TABLA*/

.boton-delete {
    background-color: white;
    border: none;
    background-color: transparent;
}

    .boton-delete:hover {
        background-color: rgba(199, 199, 199, 1);
    }

.boton-list {
    background-color: white;
    border: none;
    background-color: transparent;
}

    .boton-list:hover {
        background-color: rgba(199, 199, 199, 1);
    }

.boton-edit {
    background-color: white;
    border: none;
    background-color: transparent;
}

    .boton-edit:hover {
        background-color: rgba(199, 199, 199, 1);
    }
/*CREATE*/
.contenedorPrincipal {
    margin-top: 15px;
}
.contenedorBoton {
    display: flex;
    justify-content: space-between
}
.botonAgregar {
    border-radius: 50px;
    padding: 12px 15px;
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
    background-color:#05521c;
}
    .botonAgregar:hover {
        background-color: #098e30;
    }
.botonRegresar {
    border-radius: 50px;
    padding: 12px 15px;
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
    background-color: #05521c;
}
    .botonRegresar:hover {
        background-color: #098e30;
    }
.botonEditar {
    border-radius: 50px;
    padding: 12px 15px;
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
    background-color: #05521c;
}

    .botonEditar:hover {
        background-color: #098e30;
    }