.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle !important;
}



#tituloEspecialidad {
    text-align: center;
}

/*INDEX*/
 
 .divisor{
    color: black;
 }
.textoInformativo{
    color:red;
}

.contenedorTablas {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-top: 20px;
}

.trs {
    background-color: #111110;
    color: white;
}

/*BOTONES*/


.crear {
    border: none;
    width: 100%;
    height: 100%;
    padding: 6px;
    background-color: #85180d;
}

    .crear:hover {
        border: none;
        background-color: #b51818;
    }
.consulta {
    border: none;
    width: 100%;
    height: 100%;
    padding: 6px;
    background-color: #26034a;
}

    .consulta:hover {
        border: none;
        background-color: #4e1f7e;
    }
.buscarConsulta {
    border: none;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
}

    .buscarConsulta:hover {
        border: none;
        color:black;
        background-color: white;
    }

.inicio {
    padding: 6px;
    color: black;
    width: 100%;
    height: 100%;
    background-color: white;
    border-color: transparent;
}

    .inicio:hover {
        color:white;
        background-color: black;
        border-color: transparent;
    }
.resetearBoton {
    padding: 6px;
    color: white;
    width: 100%;
    height: 100%;
    background-color: #85180d;
    border-color: transparent;
}

    .resetearBoton:hover {
        color: white;
        background-color: #b51818;
        border-color: transparent;
    }
.crearPDF {
    border: none;
    padding: 6px;
    width: 100%;
    height: 100%;
    background-color: #074256;
}

    .crearPDF:hover {
        border: none;
        background-color: #18a5d5;
    }
.crearExcel {
    border: none;
    padding: 6px;
    width: 100%;
    height: 100%;
    background-color: #74620c;
}

    .crearExcel:hover {
        border: none;
        background-color: #b59810;
    }
.contenedorBotones {
    display: flex;
    height: 28px;
}
.contenedorConsulta {
    align-items:center;
}

.contenedorCrear {
    margin-top: 25px;
    display: flex;
}
.contenedorLista {
    display:flex;
    background: url('../images/green.jpg') no-repeat top center;
    align-items:center;
}
/*BOTONES DE LA TABLA*/

.boton-delete {
    background-color: white;
    border: none;
    background-color: transparent;
}

    .boton-delete:hover {
        background-color: rgba(199, 199, 199, 1);
    }

.boton-list {
    background-color: white;
    border: none;
    background-color: transparent;
}

    .boton-list:hover {
        background-color: rgba(199, 199, 199, 1);
    }

.boton-edit {
    background-color: white;
    border: none;
    background-color: transparent;
}

    .boton-edit:hover {
        background-color: rgba(199, 199, 199, 1);
    }
/*CREATE*/
.contenedorPrincipal {
    margin-top: 15px;
}
.contenedorBoton {
    display: flex;
    justify-content: space-between
}
.botonAgregar {
    border-radius: 50px;
    padding: 12px 15px;
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
    border-color: transparent;
    background-color: #74620c;
}
    .botonAgregar:hover {
        border-color: transparent;
        background-color: #b59810;
    }
.botonRegresar {
    border-radius: 50px;
    padding: 12px 15px;
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
    border-color: transparent;
    background-color: black;
}
    .botonRegresar:hover {
        background-color: white;
        border-color:black;
        color:black;
    }
.botonEditar {
    border-radius: 50px;
    padding: 12px 15px;
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
    border-color: transparent;
    background-color: #85180d;
}

    .botonEditar:hover {
        border-color:transparent;
        background-color: #b51818;
    }

/*CONSULTA*/
.consultaPorNombre {
    width: 100%;
    height: 100%;
}