@model Clinica.Models.TipoUsuario

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Content.cshtml";
}

<head>
    <title>Agregar tipo Usuario</title>
</head>
<partial name="_Menu" />
<div class="container contenedorPrincipal">
    <main class="pb-3" role="main">
        <div class="row">
            <form asp-action="Create" method="post" id="viewAgregarTipoUsuario">
                <div class="container-fluid">
                    <fieldset>
                        <legend class="text-center header">Editar Tipo de Usuario</legend>
                        <br />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group row">
                            <div class="col-md-3 text-align-right">
                                <label asp-for="Nombre" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="Nombre" class="form-control" />
                            </div>
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 text-align-right">
                                <label asp-for="Descripcion" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="Descripcion" class="form-control" />
                            </div>
                            <span asp-validation-for="Descripcion" class="text-danger"></span>
                        </div>
                    </fieldset>
                    <div class="row contenedorBoton">
                        <div class="col-md-4 text-align-right">
                            <input type="submit" class="btn btn-primary btn-lg botonAgregar" value="Agregar" id="agregar" onclick="Agregar()" />
                        </div>
                        <br />
                        <div class="col-md-4">
                            <a class="btn btn-info btn-lg botonRegresar" id="regresar" asp-action="Index">Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>
<partial name="_EndPag" />
