@model WebClinica.Models.Paciente

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Content.cshtml";
}

<head>
    <title>Detalles paciente</title>
</head>
<partial name="_Menu" />
<div class="container contenedorPrincipal">
    <main class="pb-3" role="main">
        <div class="row">
            <form asp-action="Details" method="post" id="viewDetailsPaciente">
                <div class="container-fluid">
                    <fieldset>
                        <legend class="text-center header">Detalles paciente</legend>
                        <br/>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group row">
                            <div class="col-md-3 text-align-right">
                                <label asp-for="PacienteId" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="PacienteId" readonly="readonly" class="form-control" />
                            </div>
                            <span asp-validation-for="PacienteId" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 text-align-right">
                                <label asp-for="Nombre" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="Nombre" readonly="readonly" class="form-control" />
                            </div>
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 text-align-right">
                                <label asp-for="Apellidos" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="Apellidos" readonly="readonly" class="form-control"  />
                            </div>
                            <span asp-validation-for="Apellidos" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 text-align-right">
                                <label asp-for="Direccion" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="Direccion" readonly="readonly" class="form-control"  />
                            </div>
                            <span asp-validation-for="Direccion" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 text-align-right">
                                <label asp-for="TelefonoContacto" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="TelefonoContacto" readonly="readonly" class="form-control"  />
                            </div>
                            <span asp-validation-for="TelefonoContacto" class="text-danger"></span>
                        </div>
                    </fieldset>
                    <div class="row contenedorBoton">
                        <div class="col-md-6">
                            <a class="btn btn-info btn-lg botonRegresar" id="regresar" asp-action="Index">Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>
<partial name="_EndPag" />