@model Paciente

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Content.cshtml";
}
<head>
    <title>Editar paciente</title>
</head>
<partial name="_Menu" />
<div class="container contenedorPrincipal">
    <main class="pb-3" role="main">
        <div class="row">
            <form asp-action="Edit" method="post" id="viewEditarPaciente">
                <div class="container-fluid">
                    <fieldset>
                        <legend class="text-center header">Agregar nuevo paciente</legend>
                        <br/>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group row">
                            <div class="col-md-3 text-align-right">
                                <label asp-for="PacienteId" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="PacienteId" readonly="true" class="form-control" placeholder="ID Paciente" />
                            </div>
                            <span asp-validation-for="PacienteId" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 text-align-right">
                                <label asp-for="Nombre" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="Nombre" class="form-control" placeholder="Nombre" />
                            </div>
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 text-align-right">
                                <label asp-for="Apellidos" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="Apellidos" class="form-control" placeholder="Apellidos" />
                            </div>
                            <span asp-validation-for="Apellidos" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 text-align-right">
                                <label asp-for="Direccion" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="Direccion" class="form-control" placeholder="Direccion" />
                            </div>
                            <span asp-validation-for="Direccion" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 text-align-right">
                                <label asp-for="TelefonoContacto" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="TelefonoContacto" class="form-control" placeholder="Telefono" />
                            </div>
                            <span asp-validation-for="TelefonoContacto" class="text-danger"></span>
                        </div>
                    
                    </fieldset>
                    <div class="row contenedorBoton">
                        <div class="col-md-4 text-align-right">
                            <a class="btn btn-primary btn-lg botonEditar" value="Editar" id="Editar" onclick="Editar()">Editar</a>
                        </div>
                        <br />
                        <div class="col-md-4">
                            <a class="btn btn-info btn-lg botonRegresar" id="regresar" asp-action="Index">Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>
<partial name="_EndPag" />

